@model Products
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ProductID)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ProductID)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ProductName)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ProductName)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.SupplierID)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.SupplierID)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.CategoryID)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.CategoryID)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.QuantityPerUnit)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.QuantityPerUnit)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitPrice)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitPrice)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitsInStock)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitsInStock)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitsOnOrder)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.UnitsOnOrder)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ReorderLevel)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.ReorderLevel)</label>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.Discontinued)</label>
    <label for="exampleFormControlInput1" class="form-label">@Html.LabelFor(model => model.Discontinued)</label>
</div>

@using (Html.BeginForm())
{
    <div class="col-auto">
        <input type="submit" class="btn btn-primary mb-3" value="Delete" />
    </div>
}

<div>
    @Html.ActionLink("Retornar al index", "Index")
</div>