@model IEnumerable<Lab14.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Nueva Categoria", "Create")
</p>
<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
     {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
     }
</table>
