@model IEnumerable<Examen4.Prestamos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Prestamos", "Create")
</p>
<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdLibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecPrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecDevolucion)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.IdPrestamo)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.IdLibro)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FecPrestamo)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.FecDevolucion)
            </th>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPrestamo }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdPrestamo }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdPrestamo })
            </td>
        </tr>
    }
</table>